<% include ./layout/header %>
    <div class="mainImage">
      <div class="overlay">
        <div class="menu menuAtTop">
          <ul>
            <li><a href="#webshopSection">Webshop</a></li>
            <li><a href="#serviceSection">Service</a></li>
            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></a></i></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <span class="shoppingCart"><a href="/shoppingCart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><%= shoppingCart.length %></a></span>
        <span class="arrow"><a href="#webshopSection"><i class="fa fa-angle-down"></i></a></span>
        <div class="textBox"><h1>HappyLife The Best Place To Buy Your Favorite Clothing</h1></div>
      </div>
    </div>
    <section id="webshopSection">
      <div class="container">
          <div class="webshopSectionContent">
          <h1 class="title"><span>Webshop</span></h1>
          <% var count = 1; %>
          <% products.forEach(function(product){ %>
            <% if(count % 3 === 1){ %>
              <div class="row">
            <% } %>
            <div class="four columns">
              <div class="webshopItem">
                <a href="/show/<%= product.product_name %>"><img src=" /products/<%= product.product_image %>" alt="" /></a>
                <small><%= product.product_category %></small>
                <h5 class="productName"><a href="/show/<%= product.product_name %>"><%= product.product_name %></a></h5>
                <h4 class="productPrice">f<%= product.product_price %></h4>
                <a class="button button-primary" href="/show/<%= product.product_name %>">buy now</a>
              </div>
            </div>
            <% if(count % 3 === 0){ %>
              </div>
            <% } %>
            <% count++ %>
          <% }); %>
          <% if(count % 3 !== 1){ %> </div> <% } %>
        </div>
      </div>
    </section>
    <section id="serviceSection">
      <h1 class="serviceTitle">How It Works!</h1>
    </section>
<% include ./layout/footer %>
    <% include service %>
  </body>
</html>
