<h1 class="title">Order</h1>
<div class="container">
    <div class="row">
        <div class="two columns">
            <div class = "contactDetails">
            <h6>Contact details</h6>
            <strong>firstname:</strong>
            <%= order.firstName %></br>
            <strong>lastname:</strong>
            <%= order.lastName %></br>
            <strong>adress:</strong>
            <%=order.adress %></br>
            <strong>phonenumber:</strong>
            <%=order.phoneNumber %></br>
        </div>
    </div>
     <% var total = 0; %>
        <div class="ten columns">
            <table class="orders">
            <tr>
                <th>product image</th>
                <th>product name</th>
                <th>porduct price</th>
                <th>qty</th>
                <th>subtotal</th>
            </tr>
        <h6>Items</h6>
        <% var orderFilter = order.items.filter(function(elem, pos) { %>
            <% return order.items.indexOf(elem) == pos; %>
         <% });%>
        <% for(var i = 0; i < orderFilter.length; i++){ %>
            <% for(var key in products){ %>
              <% if(products.hasOwnProperty(key)){ %>
                <% if(products[key].product_name === orderFilter[i]){ %>
                    <tr> 
                    <% var qty = countInArray(order.items, products[key].product_name); %>                      
                        <td><img class="shoppingCartImage" src="products/<%= products[key].product_image %>" alt=""></td>
                        <td><%= products[key].product_name %></td>
                        <td>fl<%= products[key].product_price %></td>
                        <td> <%= qty %></td>
                        <td><%= parseFloat(products[key].product_price * qty).toFixed(2) %></td>
                        <% total += parseFloat(products[key].product_price * qty);%>

                    </tr>
                <% } %>
              <% } %>
            <% } %>
          <% } %>
          f<span><%= parseFloat(total).toFixed(2); %></span>
          </table>

        </div>
    </div>
</div>

  <% function countInArray(array, productName) { %>
  <% var count = 0; %>
    <% for (var i = 0; i < array.length; i++) { %>
      <% if (array[i] === productName) { %>
        <% count++; %>
      <% } %>
    <% } %>
    <% console.log(count) %>
    <% return count; %>

  <% } %>
